// Specific CSS for your home-page
body {
  background: url('https://source.unsplash.com/1600x900/?cinema,movie') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Arial', sans-serif;
  background-color: #b5b3b698;
  color: #333;
  border-radius: 15px;
}

.overlay {
  background: rgba(0, 0, 0, 0.7); /* Dark overlay for better contrast */
  min-height: 100vh;
  padding: 20px;
}

.card {
  background-color: rgba(172, 167, 167, 0.9); /* Light background for readability */
  border-radius: 20px;
}

h2 {
  color: #c00f76;
  margin-bottom: 20px;
}

h1 {
  font-weight: bolder;
  color: darkolivegreen;
  text-decoration-color: #333;
}

.form-container {
  background: rgb(173, 172, 172);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.list-group-item {
  background: #fff;
  border-left: 5px solid #13cdca;
  border-radius: 15px;
}

.btn-danger {
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
}

.btn-danger:hover {
  background: #dc3545;
  transform: scale(1.05);
}
